body {
  background: pink;
}
.header {
  font-family: Noto Sans KR;
    grid-area: header;
    /* background: red; */
    text-align: center;
  }
/* .header:hover{
  background: purple;
} */
  .email  {
  color: black;
  text-decoration: none;
}
  .email:hover {
  color: darkgreen;
  text-decoration: underline;
}
#name {
  font-family: Noto Sans KR;
  font-size: 44px;
  color: purple;
}
  .main {
    font-family: Roboto Slab ;
    grid-area: resumetext;
    /* Background: pink; */
  }
  .link  {
color: darkGreen;
text-decoration: none;
}
  .link:hover {
color: purple;
text-decoration: underline;
}
  .photo1 {
    grid-area: photo1;
    /* background: green; */
  }
  .photo2 {
    grid-area: photo2;
    /* background: green; */
  }
  .footer {
    grid-area: footer;
    background: teal;
  }
  h2,h3 {
    color: purple;
    font-family: Noto Sans KR;
  }
.container {
  max-width: 1400px;
  margin: auto;
    display: grid;
    grid-template-columns: 400px auto 400px;
    /* grid-template-columns: 1fr 2fr 1fr; */
    grid-template-rows: auto auto auto;
    /* grid-template-rows: repeat(3, 200px); */
    grid-column-gap: 10px;
    grid-row-gap: 15px;

    grid-template-areas:
    "header header header"
    "photo1 resumetext photo2"
    "footer footer footer"
}
